
.commentaries-wrapper {
    height: 55vh;
    margin: 0 auto;
    overflow-y: auto;
    border-bottom: solid black 4px;
}

.form-comment-wrapper {
    width: 50%;
    margin: 0 auto;
}

.pagination-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 32px;
}