.comment-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 75px;
    /* animation: show-message 0.5s forwards; */
    padding-top: 20px;
}

.answer-wrapper {
    width: 80%;
    margin-left: auto;
    padding-top: 25px;
    /* margin-top: 30px; */
    /* animation: show-message 1s forwards; */
}

.user-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 0.5px;
    padding: 10px;
    background-color: aliceblue;
}

.avatar-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black 2px;
    cursor: pointer;
}

.name-wrapper {
    font-size: 24px;
}

.text-section {
    min-height: 120px;
    border: solid black 1px;
}

.text-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.comment-btns {
    display: flex;
    justify-content: space-around;
}

.show-answers-btn-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    border-radius: 30px;
    background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
    transition: 400ms;
}

::-webkit-scrollbar-thumb:hover {
    transition: 400ms;
    cursor: pointer;
}

.make-answer-btn {
    width: 50%;
}