.signal {
    min-width: 350px;
    min-height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 21px;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    position: fixed; 
    opacity: 0.8;
    z-index: 1000; 
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.call-back-function-pont-caller {
    display: flex;
    justify-content: flex-end;
}

.error-signal {
    background-color: red;
    border: solid black;
}

.other-signal {
    background-color: blue;
    color: aliceblue;
}
